body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#spinner {
  width: 10vh;
  height: 10vh;
}

#progress {
  height: 9vh;
}

footer {
  background-color: #3f3f3f;
  border-top: solid silver;
  padding-top: 10px;
}

.btn-twitter:hover {
  color: #00acee;
}

.btn-facebook:hover {
  color: #3b5998;
}

.btn-reddit:hover {
  color: #FF5700;
}

.btn-vk:hover {
  color: #597da3;
}

.btn-link {
  color: silver;
}

.btn-link:hover {
  text-decoration: none;
  color: silver;
}